Repository danieleschmidt/agent-orchestrated-etl, changes with the owners that CODEOWNERS names for each.
All owners: @terragon-labs/core-team, @terragon-labs/python-experts, @terragon-labs/ai-team, @terragon-labs/devops-team, @terragon-labs/security-team, @terragon-labs/tech-writers, @terragon-labs/sre-team, @terragon-labs/qa-team

CODEOWNERS:

# CODEOWNERS file for automated PR review assignments
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners for all files
* @terragon-labs/core-team

# Core source code
/src/ @terragon-labs/core-team @terragon-labs/python-experts

# Agent implementation
/src/agent_orchestrated_etl/agents/ @terragon-labs/ai-team

# Infrastructure and deployment
/infrastructure/ @terragon-labs/devops-team
/docker-compose.yml @terragon-labs/devops-team
/Dockerfile @terragon-labs/devops-team
/.github/workflows/ @terragon-labs/devops-team

# Security-related files
/SECURITY.md @terragon-labs/security-team
/.github/SECURITY.md @terragon-labs/security-team
/scripts/vulnerability_scanner.py @terragon-labs/security-team
/scripts/generate_sbom.py @terragon-labs/security-team

# Documentation
/docs/ @terragon-labs/tech-writers
/*.md @terragon-labs/tech-writers

# Configuration files
/pyproject.toml @terragon-labs/core-team
/.pre-commit-config.yaml @terragon-labs/core-team
/mypy.ini @terragon-labs/core-team

# Monitoring and observability
/monitoring/ @terragon-labs/sre-team
/observability/ @terragon-labs/sre-team

# Testing
/tests/ @terragon-labs/qa-team

# Chaos engineering
/chaos-engineering/ @terragon-labs/sre-team @terragon-labs/devops-team

feat: advanced SDLC optimization and modernization enhancements
  ADVANCED_SDLC_OPTIMIZATION_REPORT.md
  compliance/advanced-compliance-engine.py
  deployment/intelligent-deployment-orchestrator.py
  observability/intelligent-observability-platform.py
  optimization/intelligent-resource-management.py
  performance/benchmark-suite.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team, @terragon-labs/sre-team

feat(sdlc): autonomous advanced SDLC optimization and modernization
  .gitattributes
  .gitmessage
  AUTONOMOUS_SDLC_OPTIMIZATION_ASSESSMENT.md
  codecov.yml
  docs/gen_ref_pages.py
  docs/index.md
  docs/workflows/GITHUB_ACTIONS_SETUP.md
  mkdocs.yml
  noxfile.py
  sonar-project.properties
Owners: @terragon-labs/core-team, @terragon-labs/tech-writers

feat: autonomous SDLC enhancement with advanced optimization and AI/ML ops
  AUTONOMOUS_SDLC_ENHANCEMENT_REPORT.md
  aiops/README.md
  aiops/intelligent-model-management.py
  compliance/advanced-governance-automation.py
  performance/intelligent-optimization-engine.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team

docs: establish project foundation and community files
  PROJECT_CHARTER.md
  docs/adr/002-workflow-engine-choice.md
  docs/adr/003-configuration-management.md
  docs/adr/004-monitoring-approach.md
  docs/adr/005-security-architecture.md
  docs/adr/README.md
Owners: @terragon-labs/tech-writers

feat: setup development environment and code quality tools
  .gitignore
  pyproject.toml
Owners: @terragon-labs/core-team

feat: add VSCode development configuration files
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Owners: @terragon-labs/core-team

test: establish comprehensive testing infrastructure
  docs/testing/README.md
  tests/conftest.py
  tests/utils/__init__.py
  tests/utils/test_helpers.py
Owners: @terragon-labs/tech-writers, @terragon-labs/qa-team

build: add containerization and build automation
  scripts/init-db.sql
Owners: @terragon-labs/core-team

feat: add Docker development and optimization files
  .dockerignore
  docker-compose.override.yml
Owners: @terragon-labs/core-team

docs: enhance README with improved structure and comprehensive documentation
  README.md
Owners: @terragon-labs/tech-writers

feat: add comprehensive devcontainer post-create setup script
  .devcontainer/post-create.sh
Owners: @terragon-labs/core-team

feat: enhance containerization with production configuration and comprehensive build script
  docker-compose.prod.yml
  scripts/build.sh
Owners: @terragon-labs/core-team

docs: complete SDLC implementation summary and final report
  SDLC_IMPLEMENTATION_COMPLETE.md
Owners: @terragon-labs/tech-writers

feat: establish project foundation and implement core functionality enhancements
  src/agent_orchestrated_etl/core.py
  src/agent_orchestrated_etl/models/__init__.py
  src/agent_orchestrated_etl/models/agent_models.py
  src/agent_orchestrated_etl/models/data_models.py
  src/agent_orchestrated_etl/models/pipeline_models.py
Owners: @terragon-labs/core-team, @terragon-labs/python-experts

feat: setup dev environment and implement comprehensive data persistence layer
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  src/agent_orchestrated_etl/database/__init__.py
  src/agent_orchestrated_etl/database/connection.py
  src/agent_orchestrated_etl/database/migrations.py
  src/agent_orchestrated_etl/database/repositories.py
Owners: @terragon-labs/core-team, @terragon-labs/python-experts

feat: implement comprehensive testing infrastructure and API endpoints
  src/agent_orchestrated_etl/api/__init__.py
  src/agent_orchestrated_etl/api/app.py
  src/agent_orchestrated_etl/api/routers.py
  tests/test_api.py
  tests/test_database.py
  tests/utils/test_factories.py
Owners: @terragon-labs/core-team, @terragon-labs/python-experts, @terragon-labs/qa-team

feat: establish project foundation and implement core functionality enhancements
  docs/ENHANCED_ARCHITECTURE.md
  src/agent_orchestrated_etl/services/__init__.py
  src/agent_orchestrated_etl/services/integration_service.py
  src/agent_orchestrated_etl/services/intelligence_service.py
  src/agent_orchestrated_etl/services/optimization_service.py
  src/agent_orchestrated_etl/services/pipeline_service.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team, @terragon-labs/python-experts

feat: setup dev environment and implement comprehensive data persistence layer
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .env.example
  package.json
Owners: @terragon-labs/core-team

test(services): add comprehensive unit, integration, and performance tests
  package.json
  pytest.ini
  tests/conftest.py
  tests/integration/test_api_endpoints.py
  tests/performance/test_service_benchmarks.py
  tests/unit/services/test_integration_service.py
  tests/unit/services/test_intelligence_service.py
  tests/unit/services/test_optimization_service.py
  tests/unit/services/test_pipeline_service.py
Owners: @terragon-labs/core-team, @terragon-labs/qa-team

feat: complete autonomous SDLC implementation with enterprise-grade features
  DEPLOYMENT_GUIDE.md
  src/agent_orchestrated_etl/auto_scaling.py
  src/agent_orchestrated_etl/data_quality_engine.py
  src/agent_orchestrated_etl/data_source_analysis.py
  src/agent_orchestrated_etl/exceptions.py
  src/agent_orchestrated_etl/global_load_balancer.py
  src/agent_orchestrated_etl/health_monitor.py
  src/agent_orchestrated_etl/performance_optimizer.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team, @terragon-labs/python-experts

feat: Complete autonomous SDLC with quantum-inspired enterprise ETL system
  QUANTUM_FEATURES.md
  comprehensive_integration_test.py
  direct_quantum_test.py
  src/agent_orchestrated_etl/__init__.py
  src/agent_orchestrated_etl/adaptive_resources.py
  src/agent_orchestrated_etl/cli.py
  src/agent_orchestrated_etl/orchestrator.py
  src/agent_orchestrated_etl/production_deployment.py
  src/agent_orchestrated_etl/quantum_planner.py
  test_quantum_features.py
  test_quantum_simple.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team, @terragon-labs/python-experts

feat(agent_orchestrated_etl): add autonomous SDLC with AI-driven ETL optimization algorithms
  AUTONOMOUS_SDLC_RESEARCH_PUBLICATION.md
  simple_validation_results.json
  src/agent_orchestrated_etl/ai_resource_allocation.py
  src/agent_orchestrated_etl/consensus_coordination.py
  src/agent_orchestrated_etl/quantum_pipeline_scheduler.py
  src/agent_orchestrated_etl/self_healing_pipeline.py
  test_advanced_research_implementations.py
  test_research_validation_simple.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team, @terragon-labs/python-experts

feat: Autonomous SDLC implementation with quantum-inspired ETL enhancements
  AUTONOMOUS_SDLC_IMPLEMENTATION_COMPLETE.md
  minimal_validation.py
  src/agent_orchestrated_etl/__init__.py
  src/agent_orchestrated_etl/concurrent_processing.py
  src/agent_orchestrated_etl/core.py
  src/agent_orchestrated_etl/enhanced_orchestrator.py
  src/agent_orchestrated_etl/enhanced_validation.py
  src/agent_orchestrated_etl/error_recovery.py
  src/agent_orchestrated_etl/intelligent_scaling.py
  src/agent_orchestrated_etl/performance_cache.py
  src/agent_orchestrated_etl/security.py
  tests/test_enhanced_features.py
  validate_implementation.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team, @terragon-labs/python-experts, @terragon-labs/qa-team

feat(agent_orchestrated_etl): add intelligent pipeline auto-detection system
  src/agent_orchestrated_etl/intelligent_pipeline_detector.py
Owners: @terragon-labs/core-team, @terragon-labs/python-experts

feat(autonomous_sdlc): implement complete autonomous SDLC system with deployment
  AUTONOMOUS_SDLC_IMPLEMENTATION_COMPLETE.md
  deployment/autonomous_sdlc_deployment.yaml
  deployment/production_setup.sh
  src/agent_orchestrated_etl/autonomous_pipeline_manager.py
  src/agent_orchestrated_etl/intelligent_monitoring.py
  src/agent_orchestrated_etl/quantum_scaling_engine.py
  src/agent_orchestrated_etl/resilient_orchestrator.py
  tests/test_autonomous_integration.py
  tests/test_intelligent_pipeline_detector.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team, @terragon-labs/python-experts, @terragon-labs/qa-team

feat(coordination): add advanced consensus algorithms and adaptive coordination
  src/agent_orchestrated_etl/agents/coordination.py
  src/agent_orchestrated_etl/ai_resource_allocation.py
  src/agent_orchestrated_etl/autonomous_sdlc.py
  src/agent_orchestrated_etl/quantum_planner.py
  src/agent_orchestrated_etl/self_healing_infrastructure.py
Owners: @terragon-labs/ai-team, @terragon-labs/core-team, @terragon-labs/python-experts

feat(production): add comprehensive production deployment system
  .env.production.template
  AUTONOMOUS_SDLC_IMPLEMENTATION_COMPLETE.md
  DEPLOYMENT_GUIDE.md
  Dockerfile.production
  PRODUCTION_README.md
  backup.sh
  config/production.json
  deploy.sh
  docker-compose.production.yml
  execute_quality_gates.py
  health_check.sh
  kubernetes/deployment.yaml
  kubernetes/ingress.yaml
  kubernetes/namespace.yaml
  kubernetes/service.yaml
  monitor.sh
  monitoring/prometheus.yml
  production_deployment_manager.py
  production_deployment_simple.py
  quality_gates_report.json
  src/agent_orchestrated_etl/autonomous_sdlc.py
  src/agent_orchestrated_etl/i18n/de.json
  src/agent_orchestrated_etl/i18n/en.json
  src/agent_orchestrated_etl/i18n/es.json
  src/agent_orchestrated_etl/i18n/fr.json
  src/agent_orchestrated_etl/i18n/ja.json
  src/agent_orchestrated_etl/i18n/zh.json
  src/agent_orchestrated_etl/resilience_framework.py
  src/agent_orchestrated_etl/robust_sdlc_security.py
  src/agent_orchestrated_etl/scaling_optimization_engine.py
  test_autonomous_sdlc_enhanced.py
  test_generation3_standalone.py
  test_robust_sdlc_generation2.py
  test_scaling_optimization_generation3.py
Owners: @terragon-labs/core-team, @terragon-labs/tech-writers, @terragon-labs/sre-team, @terragon-labs/python-experts

feat(pipeline_models): add ExecutionContext model for pipeline execution context
  src/agent_orchestrated_etl/data_source_analysis.py
  src/agent_orchestrated_etl/exceptions.py
  src/agent_orchestrated_etl/models/pipeline_models.py
  tests/e2e/__init__.py
Owners: @terragon-labs/core-team, @terragon-labs/python-experts, @terragon-labs/qa-team

feat(exceptions): add new compliance, security, and database exceptions
  simple_test.py
  src/agent_orchestrated_etl/exceptions.py
  src/agent_orchestrated_etl/locales/en-US.json
  src/agent_orchestrated_etl/locales/es-ES.json
  src/agent_orchestrated_etl/locales/fr-FR.json
Owners: @terragon-labs/core-team, @terragon-labs/python-experts

feat(agent_orchestrated_etl): add autonomous research implementations and validation suite
  AUTONOMOUS_RESEARCH_COMPLETE.md
  research_validation_suite.py
  src/agent_orchestrated_etl/adaptive_pipeline_rl.py
  src/agent_orchestrated_etl/distributed_consensus_coordinator.py
  src/agent_orchestrated_etl/federated_edge_computing.py
  src/agent_orchestrated_etl/intelligent_lineage_tracker.py
  src/agent_orchestrated_etl/ml_data_quality_predictor.py
  src/agent_orchestrated_etl/quantum_optimization_engine.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team, @terragon-labs/python-experts

feat(autonomous_etl): add comprehensive autonomous ETL framework with novel engines
  AUTONOMOUS_RESEARCH_BREAKTHROUGH_PUBLICATION.md
  src/agent_orchestrated_etl/federated_learning_engine.py
  src/agent_orchestrated_etl/neural_architecture_search.py
  src/agent_orchestrated_etl/neuromorphic_computing_engine.py
  src/agent_orchestrated_etl/quantum_tensor_optimizer.py
  test_autonomous_research_validation.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team, @terragon-labs/python-experts

feat(quality_gates): add comprehensive quality gates validation system
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  comprehensive_quality_gates.py
  quality_gates_report.json
  src/agent_orchestrated_etl/advanced_performance_optimization.py
  src/agent_orchestrated_etl/comprehensive_monitoring.py
  src/agent_orchestrated_etl/config.py
  src/agent_orchestrated_etl/core.py
  src/agent_orchestrated_etl/enhanced_error_recovery.py
  src/agent_orchestrated_etl/neuromorphic_ai_pipeline.py
  src/agent_orchestrated_etl/production_deployment.py
  src/agent_orchestrated_etl/quantum_enhanced_processing.py
  standalone_test.py
  test_enhanced_robustness.py
  test_generation2_standalone.py
  test_generation3_scaling.py
  test_research_breakthrough.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team, @terragon-labs/python-experts

docs(readme): add new key features to README
  README.md
Owners: @terragon-labs/tech-writers

feat(autonomous_sdlc): add autonomous SDLC completion report and advanced features
  FINAL_AUTONOMOUS_SDLC_COMPLETION.md
  examples/advanced_pipeline_orchestration.py
  examples/research_implementations.py
  quality_gates_report.json
  src/agent_orchestrated_etl/__init__.py
  src/agent_orchestrated_etl/api/routers.py
  src/agent_orchestrated_etl/cli.py
  test_basic_functionality.py
  test_core_without_deps.py
  validate_quality_gates.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team, @terragon-labs/python-experts

feat(agent_orchestrated_etl): add Generation 4 Autonomous SDLC with advanced ETL modules
  AUTONOMOUS_SDLC_GENERATION4_COMPLETE.md
  README.md
  quality_gates_execution_gen4.py
  quality_gates_report_gen4.json
  simple_test_runner.py
  src/agent_orchestrated_etl/automl_optimizer.py
  src/agent_orchestrated_etl/cloud_federation.py
  src/agent_orchestrated_etl/enhanced_error_handling.py
  src/agent_orchestrated_etl/enhanced_observability.py
  src/agent_orchestrated_etl/predictive_scaling.py
  src/agent_orchestrated_etl/security_validation.py
  src/agent_orchestrated_etl/streaming_processor.py
  test_autonomous_sdlc_generation4.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team, @terragon-labs/python-experts

feat(research): add advanced quantum federated learning and cross-cloud ML optimization
  AUTONOMOUS_RESEARCH_GENERATION5_COMPLETION.md
  PRODUCTION_READINESS_ASSESSMENT.md
  quick_research_validation.py
  research_env/bin/python
  research_env/bin/python3
  research_env/bin/python3.12
  research_env/lib64
  research_env/pyvenv.cfg
  research_validation_simple.py
  src/agent_orchestrated_etl/advanced_research_benchmarking_suite.py
  src/agent_orchestrated_etl/cross_cloud_ml_optimization.py
  src/agent_orchestrated_etl/exceptions.py
  src/agent_orchestrated_etl/quantum_federated_learning_engine.py
  validation_results/quick_research_validation.json
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team, @terragon-labs/python-experts

feat(sdlc): complete autonomous SDLC v4.0 with robust, scalable ETL system
  TERRAGON_SDLC_V4_COMPLETION_REPORT.md
  advanced_scaling_optimization_gen3.py
  enhanced_error_handling_gen2.py
  final_quality_gates.py
  global_deployment_complete.py
  global_deployment_report.json
  robust_etl_core_gen2.py
  terragon_sdlc_final_report.json
  test_generation1_simple.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team

feat(agent_orchestrated_etl): add Generation 3 optimizations: performance, scaling, deployment
  AUTONOMOUS_SDLC_GENERATION3_COMPLETION_REPORT.md
  src/agent_orchestrated_etl/advanced_scaling_engine.py
  src/agent_orchestrated_etl/intelligent_performance_optimizer.py
  src/agent_orchestrated_etl/models/__init__.py
  src/agent_orchestrated_etl/production_deployment_manager.py
  test_generation3_optimizations.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team, @terragon-labs/python-experts

feat(autonomous_etl): add comprehensive autonomous ETL system with multi-generation support
  autonomous_quality_gates.py
  generation1_autonomous_core.py
  generation2_robust_autonomous.py
  generation3_scaling_autonomous.py
  global_autonomous_deployment.py
Owners: @terragon-labs/core-team

feat(autonomous_sdlc): complete autonomous SDLC implementation with ML-driven optimization
  AUTONOMOUS_SDLC_FINAL_SUMMARY.md
  AUTONOMOUS_SDLC_PROGRESSIVE_QUALITY_GATES_COMPLETION.md
  PRODUCTION_DEPLOYMENT_GUIDE.md
  advanced_scaling_demo.py
  comprehensive_quality_validation.py
  config/production_deployment.yaml
  config/test_quality_gates.json
  progressive_quality_gates_demo.py
  reports/comprehensive_quality_validation.json
  robust_reliability_demo.py
  src/agent_orchestrated_etl/adaptive_circuit_breaker.py
  src/agent_orchestrated_etl/adaptive_performance_cache.py
  src/agent_orchestrated_etl/intelligent_retry_strategy.py
  src/agent_orchestrated_etl/predictive_resource_scaling.py
  src/agent_orchestrated_etl/progressive_quality_gates.py
  src/agent_orchestrated_etl/quality_gate_integration.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-team, @terragon-labs/python-experts
